<div class="containerX">
  <div fxLayout="row" class="box appHeightCls" style="background-color: #2196f3">
    <div fxFlex="100" style="margin-top: 225px">
        <div fxLayout="column">
          <div fxFlexAlign="center">
              <md-card style="width: 500px;">
                <md-card-title style="text-align: center">
                  Welcome, Login here !!!
                </md-card-title>
                <md-card-content>
                  <div fxLayout="column">  
                    <md-input-container>
                      <input mdInput placeholder="User name" [(ngModel)]= "userName">
                    </md-input-container>
                    <md-input-container>
                      <input mdInput placeholder="Password" type="password" [(ngModel)]= "password">
                    </md-input-container>
                  </div>
                </md-card-content>
                <md-card-actions>
                  <button md-raised-button color="primary" type="button" (click)="signInUser()">Sign in</button>
                  <!--<a routerLink="/user">click here</a>-->
                </md-card-actions>
            </md-card>
          </div>
      </div>
    </div>
  </div>
</div>