<div (window:resize)="onResize($event)">
  <md-toolbar color="primary">
    <button class="showOrHidebtnCls" md-button disableRipple="true" (click)="leftsidemenu.toggle()"><md-icon>reorder</md-icon></button>
    <span>Alumni v1.0</span>
    <span class="example-fill-remaining-space"></span>
    <span class="fixed-position">
      <button md-button [mdMenuTriggerFor]="menu">Menu</button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngFor="let page of pages" routerLink="{{page.link}}">{{page.name}}</button>
      </md-menu>
    </span>
  </md-toolbar>

  <md-sidenav-container>
      <md-sidenav #leftsidemenu class="check" mode="side" opened="true">

        <md-nav-list>
          <md-list-item *ngFor="let menu of menus">
            <md-icon md-list-icon>folder</md-icon>
            <a md-line routerLink="{{menu.link}}">{{ menu.name }}</a>
          </md-list-item>
       </md-nav-list>

      </md-sidenav>

      <div class="main-content-cls">
          <router-outlet></router-outlet>
      </div>

  </md-sidenav-container>
</div>