// html {
//   height: 100%;
// } 
// body {
//     font-family: Roboto, Arial, sans-serif;
//     width: 100%;
//     min-height: 100%;
//     margin: 0;
//     padding: 0;
// }

html { 
  height:100%; 
}

body { 
  position:absolute; 
  top:0; 
  bottom:0; 
  right:0; 
  left:0; 
  margin: 0;
}

@import '~@angular/material/core/theming/all-theme';
 @include mat-core();

 $primary: mat-palette($mat-blue);
 $accent:  mat-palette($mat-amber, A200, A100, A400);

 $theme: mat-light-theme($primary, $accent);

 @include angular-material-theme($theme);

.m2app-dark {
   $dark-primary: mat-palette($mat-pink, 700, 500, 900);
   $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

   @include angular-material-theme($dark-theme);
 }

// .main.m2app-dark {
//   background-color: lightgrey;  
// }